Flask==1.0.2
Flask-Babel==0.12.2
Flask-Migrate==2.4.0
Flask-SQLAlchemy==2.4.0
Flask-WTF==0.14.2
matplotlib==3.0.3
numpy==1.16.3
Pillow==6.2.0
PyMySQL==0.9.3
pyparsing==2.4.0
https://download.pytorch.org/whl/cpu/torch-1.1.0-cp37-cp37m-win_amd64.whl
https://download.pytorch.org/whl/cpu/torchvision-0.3.0-cp37-cp37m-win_amd64.whl
