<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>{{ _('Welcome') }}</title>
  {% endif %}
</head>

<body>
  <header class="nav-header">
    <div class="hidden">
      {% include '_uploadForm.html' %}
    </div>
    <div class="container">
      <nav>
        <ul class="navbar-items">
          <li>
            <a href="{{ url_for('index') }}">{{ _('Home') }}</a>
          </li>
          <li>
            <a href="javascript:void" id="recognitionLink">{{ _('Prediction') }}</a>
          </li>
        </ul>
        <!-- /.navbar-items -->
      </nav>
    </div>
  </header>
  <!-- /.header -->
  <main role="main">
    {% block content %} {% endblock content %}
    {% include '_footer.html' %}
  </main>
  <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>

</html>