{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="wrapper">
    <section class="project-description">
      <h3 class="project-description-title">{{ _('Project Description') }}</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet eos saepe
        assumenda sapiente omnis quidem corrupti soluta molestias? Voluptatibus,
        quae culpa. Ex nulla distinctio officia necessitatibus rerum vel
        deserunt eum velit enim alias aliquid a ut praesentium atque itaque
        suscipit aperiam ad, id eos aspernatur ipsa nobis! Accusamus est porro
        ut quasi laboriosam, voluptatem blanditiis, sapiente assumenda itaque
        fuga repellat facilis illo fugiat aut ab necessitatibus cupiditate sunt
        nam nisi eos? Amet, nulla? Explicabo animi quasi eius optio sed, saepe
        et nihil maxime itaque doloremque dignissimos possimus praesentium
        quisquam voluptatem ducimus exercitationem id molestias facilis earum
        aperiam esse hic. Vero!
      </p>
      <div class="project-description-footer">
        <button class="btn btn-primary" id="loadImageBtn">{{ _('Upload Image') }}</button>
      </div>
    </section>
    <aside class="last-pred card card-secondary">
      <h3 class="card-title">
        {{ _('Latest Predictions') }}
      </h3>
      {% if latest %}
      <div class="last-pred-wrap">
        {% for pred in latest %}
        <div class="last-pred-body">
          <a href="{{ url_for('prediction', img_id=pred.id) }}" class="last-pred-body__img">
            <img src="{{ url_for('static', filename='img/' + pred.path) }}" alt="{{ pred.predicted }}"
              title="{{ pred.predicted }}">
          </a>
          <div class="last-pred-body__pred">
            <span>{{ pred.predicted }}</span>
            <span>{{ '%0.2f%%'| format(pred.probability * 100|float)}}</span>
          </div>
        </div>
        {% endfor %}
      </div>
      {% else %}
      <p class="card-text">
        {{ _('There are no predictions yet!') }}
      </p>
      {% endif %}
    </aside>
  </div>
</div>
{% endblock content %}