{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="wrapper">
    <section class="project-description">
      <h3 class="project-description-title">Описание проекта</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet eos saepe
        assumenda sapiente omnis quidem corrupti soluta molestias? Voluptatibus,
        quae culpa. Ex nulla distinctio officia necessitatibus rerum vel
        deserunt eum velit enim alias aliquid a ut praesentium atque itaque
        suscipit aperiam ad, id eos aspernatur ipsa nobis! Accusamus est porro
        ut quasi laboriosam, voluptatem blanditiis, sapiente assumenda itaque
        fuga repellat facilis illo fugiat aut ab necessitatibus cupiditate sunt
        nam nisi eos? Amet, nulla? Explicabo animi quasi eius optio sed, saepe
        et nihil maxime itaque doloremque dignissimos possimus praesentium
        quisquam voluptatem ducimus exercitationem id molestias facilis earum
        aperiam esse hic. Vero!
      </p>
      <div class="project-description-footer">
        <a
          href="{{ url_for('upload') }}"
          class="btn btn-primary project-description-btn"
          >Перейти к распознаванию</a
        >
      </div>
    </section>
    <aside class="last-pred card-secondary">
      <h3 class="card-title">
        Последние предсказания
      </h3>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, ratione?
      </p>
    </aside>
  </div>
</div>
{% endblock content %}
