{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="wrapper">
    <section class="project-description">
      <h3 class="project-description-title">{{ _('Project Description') }}</h3>
      <p>
        {{ _('The goal of this project is to demonstrate the capabilities of neural networks in solving the problem of
        object detection.') }}
      </p>
      <p>
        {{ _('To get started, click on the button below and upload the image for detection. At the moment, the neural
        network can detect such objects on images: AEROPLANE, BICYCLE, BIRD, BOAT, BOTTLE, BUS, CAR, CAT, CHAIR, COW,
        TABLE, DOG, HORSE, MOTORBIKE, PERSON, PLANT, SHEEP, SOFA, TRAIN, MONITOR. After the image is uploaded, you will
        be redirected to the page with the result of the neural network prediction.') }}
      </p>
      <div class="project-description-footer">
        <button class="btn btn-primary" id="loadImageBtn">{{ _('Upload Image') }}</button>
      </div>
    </section>
    <hr />
    <section class="last-pred">
      <h3>
        {{ _('Latest Predictions') }}
      </h3>
      {% if latest %}
      <div class="last-pred-wrap">
        {% for img in latest %}
        <a href="{{ url_for('prediction', img_id=img.id) }}" class="last-pred__img">
          <img src="{{ url_for('static', filename='img/' + img.path) }}">
        </a>
        {% endfor %}
      </div>
      {% else %}
      <p class="card-text">
        {{ _('There are no predictions yet!') }}
      </p>
      {% endif %}
    </section>
  </div>
</div>
{% endblock content %}
