{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="prediction-wrap">
    <div class="prediction-img card">
      <img src="{{ url_for('static', filename=result.img_path) }}" alt="{{ _('Result image') }}"
           title="{{ _('Result image') }}" />
      <div class="prediction-img__container">
        <span>{{ _('Prediction') }} - {{ _('Accuracy') }}:<br>
          {% for pred, prob in result.predicted %}
          <span class="predicted-class">{{ _('%(predicted)s', predicted=pred) }} - {{ '%0.2f%%' | format(prob|float)
            }}%</span><br>
          {% endfor %}
        </span>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
