{% extends 'base.html' %} {% block content %}

<div class="container">
    <div class="prediction-wrap">
        <div class="prediction-img card">
            <img src="{{ url_for('static', filename=result.img_path) }}" alt="{{ result.predicted }}"
                title="{{ result.predicted }}" />
            <div class="prediction-img__container">
                <span>Прогноз: <span class="predicted-class">{{ result.predicted }}</span>
                </span>
                <span>Уверенность: {{ '%0.4f'| format(result.prob|float)}}</span>
            </div>
        </div>
        <div class="prediction-plot card card-secondary">
            <img src="{{ url_for('static', filename=result.plot_path) }}" alt="Изображение графика не найдено" />
        </div>
    </div>
</div>

{% endblock content %}